
html { 
      color:greenyellow 



}

h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
    Photo de gauche: harajuku.jpg (Non-cliquable)
        
        Photo de droite: meiji-jingu.jpg (URL: https://fr.wikipedia.org/wiki/Meiji-jing%C5%AB )
}

body {
    background-color: hotpink;
}


a {
    color: blue;
}

img {
    max: width 256px;
}


